* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
        --primary-color: linear-gradient(to right, #1DA8B5, #D2E319);;
        --secondary-bg1: #D2E319;
        --secondary-bg2: #1DA8B5;
        --secondary-bg3: #000000; 
        --text-color1:#000000;
        --text-color2: #ffffff;
        --font-type: "Archivo", sans-serif; 
}

body {
   font-family: "Archivo", sans-serif;
   font-size: 20px;
}
main {
    padding: 0 11rem 4rem 11rem;
}

h1 {
    font-size: 4.5rem;
}

h2 + p {
    margin-top: 15px;
}

h3 {
    margin-bottom: 10px;
}
h4 {
    margin-bottom: 5px;
}

/* MENU */
nav {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hort-logo {
    width: 100px;
}

.links {
    display: flex;
}

.links > * {
    padding: 0 25px;
}

.links > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.links > a:hover {
    text-decoration: underline;
}

.search-icon {
    padding: 0 0 0 25px;
}

/* HEADER STUFF */

header {
    box-sizing: content-box;
}

.hero_header {
    background: var(--primary-color);
    height: auto;
    width: 100%;
    padding: 40px;
    display: flex;
    padding-left: 10rem;
    padding-top: 150px;
    justify-content: end;
    flex-direction: column;
    color: var(--text-color2);
}
.header_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px;

}

#header_image {
    width: 20rem;
    align-items: start;
    
}

.header_text {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 50%;

}

#button-white, #button-gradient {
    background-color: #ffffff;
    font-family: var(--font-type);
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    transition:.3s ease ;
}

#button-white:hover, #button-gradient:hover {
 transform: scale(0.95);
}

#button-gradient {
    color: white;
    background: linear-gradient(to right, #1DA8B5, #D2E319);
}

.blend-image {

}

/* CONTENT*/

section {
    padding-top: 4rem;
}

.section-gradient {
    background: linear-gradient(to right, #1DA8B5, #D2E319);
    margin: 0 -11rem 0 -11rem;
    color: white;
    margin-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 11rem;
    padding-right: 11rem; 
}

.searchcontainer {
    margin-bottom: 40px;
}
    
#searchInput {
    width: 20rem;
    height: auto;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    transition:.3s ease;
    border: solid 2px black;
}
.podcastContent {
    margin-bottom: 20px;
    margin-top: 50px;
}

.podcastContent::after {
    content: '';
    bottom: -3px; 
    left: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #1DA8B5, #D2E319);
}
.podcast-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.podcastContainer {
    background-color: var(--secondary-bg3);
    font-style: var(--font-type);
    width: 40%;
    height: 300px;
    margin: 20px;
    display: flex;
    border-radius: 5px;
    border: solid 5px #D2E319;
    cursor: pointer;
    flex-grow: 1;
    
}
.podcast_image {
    width: 300px;
    height: 290px;
}
.podcast-text {
    padding: 20px;
    color: #ffffff;
    line-height: 1.3;
}

.alle {
    margin-top: 80px;
}
footer {
    background: #000000;
}

/* FRONT PAGE */
.frontpage section {
    display: flex;
    flex-direction: row;
}

.site-links {
    display: flex;
}