* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
        --primary-color: linear-gradient(to right, #1DA8B5, #D2E319);;
        --secondary-bg1: #D2E319;
        --secondary-bg2: #1DA8B5;
        --secondary-bg3: #000000; 
        --text-color1:#000000;
        --text-color2: #ffffff;
}


.header_container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    padding: 20px;
}

#header_image {
    width: 20%;
    height: auto;
    margin-right: 20px;
}

.header_text {
    flex: 1; /* Take remaining space */
    display: flex; /* Display contents as a flex container */
    flex-direction: column; /* Arrange contents in a column */
}

.hero_header {
    background: var(--primary-color);
    height: 800px;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    color: var(--text-color2);
}
