* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
        --primary-color: linear-gradient(to right, #1DA8B5, #D2E319);;
        --secondary-bg1: #D2E319;
        --secondary-bg2: #1DA8B5;
        --secondary-bg3: #000000; 
        --text-color1:#000000;
        --text-color2: #ffffff;
        --font-type: "Archivo", sans-serif; 
}

body {
   font-family: "Archivo", sans-serif;
   font-size: 18px;
}
main {
    padding: 2rem 11rem 0rem 11rem;
}

h1 {
    font-size: 4.5rem;
}

h2 + p {
    margin-top: 15px;
}

h3 {
    margin-bottom: 10px;
}
h4 {
    margin-bottom: 5px;
}

/* MENU */
nav {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0 70px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 999;
}

#nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hort-logo {
    width: 100px;
}

.links {
    display: flex;
}

.links > * {
    padding: 0 25px;
}

.links > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.search-input {
    border: none;
    height: 60px;
    width: 70vw;
    font-size: 18px;
}

nav button {
    border: none;
    background: none;
}

nav .search-form {
    display: flex;
    align-items: center;
}

nav .search-form > * {
    margin: 0 10px 0 10px;
}

nav .submit-button {
    height: 40px;
    background: linear-gradient(to right, #1DA8B5, #D2E319);
    width: 70px;
    border-radius: 1000px;
    color: white;
}

.links > a:hover {
    text-decoration: underline;
}

.search-icon {
    padding: 0 0 0 25px;
}

/* HEADER STUFF */

header {
    box-sizing: content-box;
}

.hero_header {
    min-height: 85vh;
    width: 100%;
    padding: 40px;
    display: flex;
    padding-left: 10rem;
    padding-top: 150px;
    justify-content: center;
    flex-direction: column;
    color: var(--text-color2);
    position: relative;
    background-image: url(images/hero-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px;

}

#header_image {
    width: 20rem;
    align-items: start;
    
}

.header_text {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 50%;

}

.hiddencontent {
    display: none!important;   
}

#check {
    display: none;
 }

#check:checked ~ .hiddencontent {
    display: block;
}

#check:checked ~ label {
    display: none;
}

label  {
    cursor: pointer;
    color: var(--secondary-bg1);
    padding-top: 10px;
 }

#button-white, #button-gradient {
    background-color: #ffffff;
    font-family: var(--font-type);
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    transition:.3s ease ;
}

#button-white:hover, #button-gradient:hover {
 transform: scale(0.95);
}

header #button-white:hover {
    color: #1DA8B5;
}

#button-gradient {
    color: white;
    background: linear-gradient(to right, #1DA8B5, #D2E319);
}

/* FRONT PAGE */
.frontpage section {
    display: flex;
    flex-direction: row;
}

.site-links {
    display: flex;
}

/* CONTENT*/

section {
    padding-top: 4rem;
}

.section-gradient {
    background: linear-gradient(to right, #1DA8B5, #D2E319);
    margin: 0 -11rem 0 -11rem;
    color: white;
    margin-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 11rem;
    padding-right: 60%; 
}

.searchcontainer {
    margin: 10px;
}
.searchcontainer p {
    padding-left: 10px;
    font-size: 16px;
}

#restoreButton {
    background-color:#D2E319;
    font-family: var(--font-type);
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    transition:.3s ease ;
}

#restoreButton:hover {
    transform: scale(0.95);
    font-size: 15px;
   }
    
#searchInput {
    width: 20rem;
    height: auto;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    transition:.3s ease;
    border: solid 2px black;
}
.podcastContent {
    margin-bottom: 20px;
    margin-top: -100px;
}

.podcastContent::after {
    content: '';
    bottom: -3px; 
    left: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #1DA8B5, #D2E319);
}

.list {
    margin-top: 70px;
    margin-bottom: 30px;
  
}
.podcast-list {
    max-width: 11000px;
    width: 100%;  
    padding: 20px 20px 20px 20px;
    position: relative;
}
.podcastlist2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.podcast-list .carousel {
    width: 100rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/2));
    gap: 14px;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar {
    display: none;
}

.podcast-list i {
    height: 50px;
    width: 50px;
    background: #D2E319;
    align-content: center;
    text-align: center;
    line-height: 50px;
    border-radius: 10000px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.podcast-list i:first-child {
    left: -22px
}
.podcast-list i:last-child {
    right: -22px
}
.podcast-list i:hover {
    background-color: #1DA8B5;
    scale: 0.95;
    color: white;
}


.podcastContainer-alle {
    background-color: var(--secondary-bg3);
    font-style: var(--font-type);
    width: 40%;
    height: 260px;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    border: solid 5px #D2E319;
    cursor: pointer;
    flex-grow: 1;
    overflow: hidden;
    
}

.podcastContainer-alle:hover {
    border: solid 5px #1DA8B5;
}
.carousel.dragging{
    scroll-behavior: auto;
    scroll-snap-type: none;
}
.carousel.dragging .podcastContainer-show {
    cursor: grab;
    user-select: none;
}
.podcastContainer-show {
    background-color: var(--secondary-bg3);
    font-style: var(--font-type);
    width: 44rem;
    height: auto;
    display: flex;
    margin: 18px;
    border-radius: 5px;
    border: solid 5px #D2E319;
    cursor: pointer;
    flex-grow: 1;
    object-fit: cover;
}
.podcastContainer-show:hover {
    border: solid 5px #1DA8B5;
}
.carousel .podcastContainer-show{
 list-style: none;
 scroll-snap-align: start;
}
.podcast_image {
    width: 300px;
    height: 100%;
}

a {
    text-decoration: none;
}
.podcast-text {
    padding: 20px;
    color: #ffffff;
    line-height: 1.3;
}
.podcast-text-query {
    display: none;
    padding: 20px;
    color: #ffffff;
    line-height: 1.3;
}

.hiddenpodcast{
    display: flex;
    flex-wrap: wrap;
}
.hiddencontent2 {
    display: none;
}

#check2 {
    display: none;
 }
#check2:checked ~ .hiddencontent2 {
    display: inline-block;
    flex-wrap: wrap;
}
#check2:checked ~ label {
    display: none;
}
.alle {
    margin-top: 20px;
    margin-bottom: 80px;
}

.alle-sorting {
    display: flex;
    justify-content: space-between;
    margin-right: 1.2em;
}

.morebutton {
    margin: 0 auto;
    background-color: #ffffff;
    font-family: var(--font-type);
    width: 180px;
    text-align: center;
    height: auto;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 1000px;
    border: solid var(--secondary-bg1);
    cursor: pointer;
    transition:.3s ease ;
    display: block;
    justify-content: center;
}

.morebutton:hover {
    color: #1DA8B5;
    border: solid var(--secondary-bg2);
}

footer {
    background: #000000;
    color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5rem 0 7rem 0;
}

footer * {
    margin-bottom: 8px;
}

footer > div:first-child * {
    margin-bottom: 10px;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #D2E319;
}



/* PODCAST */

@media screen and (max-width: 1400px) {
    .podcastContent{
        scale: 0.9;
        background-color: #1DA8B5;
        justify-content: center;
    }
    p {
        font-size: 15px;
    }
    .podcastContainer-show {
        width: 25rem;
        height: auto;
        margin: 20px;
    }
    .podcast_image {
        display: none;
    }
    .podcast-list .carousel {
        width: 60rem;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100%/2));
        gap: 16px;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: 0;
        margin-left: 2.5em;
    }
    .podcast-list i {
        height: 50px;
        width: 50px;
        background: #D2E319;
        align-content: center;
        text-align: center;
        line-height: 50px;
        border-radius: 10000px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .podcast-list i:first-child {
        left: 2.2rem;
    }
    .podcast-list i:last-child {
        right: 2.2rem; }

     .podcast-text-query {
        display:block;
           }
    .podcast-text {
        display: none;
        }
    ul .carousel {
        width: 10em;
        height: auto;
    }
    .podcastContainer-alle {
        width: 400px;    
        height: auto;
    }
}

@media screen and (max-width: 992px) {

.podcast-text {
    display: none;
}


.podcast-text-query {
 display:block;
}
main {
    padding: 1em;
}
h1 {
    font-size: 3em;
}
.podcast_image {
    display: none;
}
.podcast-list i {
    scale: 0.8;
}
.podcast-list i:first-child {
    left: -10px
}
.podcast-list i:last-child {
    right: -10px
}
#header_image {
    padding-bottom: 10px;
}
.podcastContainer-show {
    width: 250px;    
    height: auto;
}
.podcastContainer-alle {
    width: 250px;    
    height: auto;
    display: grid;
    grid-auto-columns: calc((100%/2));
}
h3 {
    font-size: 1.3em;
}
.podcast-list {
    align-items: center;
    justify-content: center;
    display: grid;
}

.podcast-list .carousel {
    grid-auto-columns: calc((100%));
    gap: 70px;
}

#check ~ label {
    color: #ffffff;
}
.searchcontainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.podcastContent {
    margin-top: -100px;
    max-width: fit-content;
}

.hero_header {
    flex-direction: column;
    padding: 10px;
    padding-top: 100px;
    align-items: center;
    text-align: left;
}
.header_text {
    padding: 0;
    padding-top: 10px;
    width: 300px;
    align-items:center;
    line-height: 1.5em;
    text-align: left;
    
}
.header_container {
    flex-direction: column;
    align-content: center;
    text-align: left;
    line-height: 1.2em;
    padding-bottom: 0px;
}
#button-white {
    margin-top: 0px;
}
}

