/* Generel baggrund for hjemmesiden */
body {
    background-color: #fffeee;
    margin: 0;
}



/* CSS for navigationsbaren på hjemmesiden */
.item01 { grid-area: bv; 
background-color: #F05041;
padding-top: 20px;
font-size: 20px;
}

.item02 { grid-area: fs; 
background-color: #ffffff;
padding-top: 35px;
font-size: 22px;
}

.item03 { grid-area: fh; 
background-color: #ffffff;
padding-top: 35px;
font-size: 22px;
}

.item04 { grid-area: vm;
background-color: #ffffff;
padding-top: 35px;
font-size: 22px;
}

.item05 { grid-area: oo; 
background-color: #ffffff;
padding-top: 35px;
font-size: 22px;
}

.item06 { grid-area: sb; 
background-color: #ffffff;
padding-top: 35px;
}

#sogefelt {
padding: 10px;
padding-right: 300px;
}

#sogeKnap {
color: #000000;
background-color: #ffffff;
border: 0px;
margin-left: 5px;
font-size: 25px;
}

.item07 { grid-area: so; 
background-color: #BECDD6;
padding-top: 15px;
font-weight: bold;
}

.item08 { grid-area: vh; 
background-color: #BECDD6;
padding-top: 15px;
font-weight: bold;
}

.item09 { grid-area: sn; 
background-color: #FFDD31;
padding-top: 30px;
font-size: 24px;
font-weight: bold;
}

nav div {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: grid;
    grid-template-areas: 
    'bv fs fh vm oo sb so sn'
    'bv fs fh vm oo sb vh sn';
    grid-template-columns: 110px 120px 120px 120px 100px 600px 180px 130px;
    grid-template-rows: 50px 50px;
    position: fixed;
    z-index: 2;
}

nav div a {
    text-decoration: none;
    color: black;
}

.logoTekst01 {
    color: #ffffff;
}



/* CSS for baggrundsbilledet på forsiden */
img {
    width: 100%;
}



/* CSS for hero tekst og undertekst, samt knapper til HØRT, Børnetelefonen osv.*/
.wrapper01 {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: -575px;
    color: #fffeee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav img {
    position: absolute;
    z-index: -99;
}

.heroTekst01 {
    padding-right: 500px;
    font-size: 60px;
    font-weight: bold;
}

.heroUndertekst01 {
    padding-right: 600px;
    font-size: 20px;
    font-weight: 500;
}

.heroKnap01 {
    text-align: end;
    font-size: 40px;
    font-weight: bold;
    margin-top: -400px;
}

.heroKnap01 p a {
    color: #fffeee;
    text-decoration: none;
    word-spacing: 20px;
}



/* CSS for banner i bunden af hero billedet */
.bannerWrapper01 {
    position: absolute;
    width: 100%;
    background-color: #F05041;
    padding: 10px;
    z-index: 1;
    margin-top: 30px;
}

.bannerTekst01 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    animation: moveBanner01 20s linear infinite;
}

.bannerTekst02 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    animation: moveBanner02 20s linear infinite;
    margin-top: -57px;
}

@keyframes moveBanner01 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveBanner02 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}



/* CSS for første del af hjemmesiden, alt under den første overskrift */
.wrapper02 {
    padding-left: 175px;
    padding-right: 175px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Første del af fyldet */
.icons01 {
    width: 75%;
}

.overskrift01 {
    margin-top: 250px;
    font-size: 60px;
}

.infoBox01 {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}

.infoBox01 h2 {
    font-size: 30px;
}

.infoBox01 p {
    font-size: 20px;
}

.infoBox02 {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}

.infoBox02 h2 {
    font-size: 30px;
}

.infoBox02 p {
    font-size: 20px;
}

.item10 {
    padding-right: 200px;
}

.item12 {
    padding-right: 200px;
}

/* Anden del af fyldet */
.overskrift02 {
    font-size: 60px;
}

.nyhedsBilleder01 {
    width: 90%;
}

.infoBox03 {
    display: flex;
    justify-content: space-evenly;
}

.clickbait01 {
    padding-right: 20px;
    font-weight: bold;
}

#visKnap {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    position: relative;
    left: 45%;
    background-color: #fffeee;
    margin-bottom: 50px;
}

#visKnap:hover {
    cursor: pointer;
    background-color: #ffffff;
}

/* CSS for den skjulte nyhedsboks som kommer fram når man trykker på knappen */
.infoBox04 {
    display: flex;
    justify-content: space-evenly;
}

.skjult {
    display: none;
}

/* sidste del af fyldet, den blå box til emails */
.bundBox01 {
    background-color: #BECDD6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 200px;
}

.wrapper03 {
    padding-left: 175px;
    padding-right: 800px;
}

.tilmelding01 {
    display: flex;
    flex-direction: column;
    padding-right: 250px;
}

#fornavn, #efternavn, #email {
    margin-bottom: 10px;
}

.terAndCor {
    font-size: 10px;
}

.bundBox01 img {
    width: 20%;
    display: block;
    margin-top: -462px;
    margin-left: 1000px;
}

#tilmeldKnap {
    background-color: #ffffff;
    border: 2px;
}

#tilmeldKnap:hover {
    cursor: pointer;
    background-color: #fffeee;
}






/* CSS for footer, lavet af Emil */
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #F05041;
    color: white;
    padding: 25px 0px 30px;
    font-size: 18px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col1{
    flex-basis: 25%;
    padding: 0px 100px;
}

.børnsvilkår{
    width: 223px;
}

.brack{
    width: fit-content;
    margin: 20px 0px;
}

.col h3{
    width: fit-content;
    margin-bottom: 110px;
    position: relative;
}

ul li{
    list-style: none;
    margin-bottom: 4px;
}

ul li a{
    text-decoration: none;
    color: white;
}

.logo2{
    width: 180px;
}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    text-decoration: none;
    font-size: 35px;
    margin-right: 15px;
    color: #ffffff;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ffffff;
    transform: translateY(-5px);
}
/* slutning på CSS for footer */